@using AdyContracts.Resources
<table class="table table-bordered table-hover" id="document-table">
    <thead>
        <tr>
            <th>№</th>
            <th>@ResourceMain.type</th>
            <th>@ResourceMain.date</th>
            <th>@ResourceUpload.note</th>
        </tr>
        <tr>
            <th>№</th>
            <th>@ResourceMain.type</th>
            <th>@ResourceMain.date</th>
            <th>@ResourceUpload.note</th>
            <th>@ResourceUpload.operations</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
